
#hero-section{
    position: relative;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    height: 760px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    

}
.hero-circle{
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;

}
.microphone{
    position: absolute;
    top: 205px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    display: flex;
    

}
.hero-text{
    margin-top: 300px;
    color: white;
}
.about-section {
    background-color: #1A0B2E;
    color: white;
    text-align: center;
}
.about-section h1 {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 100px;
}
.about-section p {
    font-size: 16px;
}



.line{
  margin: 80px 100px;
  color: #E5E7EB;
  opacity: 10%;
  height: .05px;
  border: none;

 
}
.stats-container{
    display: flex;
    justify-content: space-around;
    background-color: #1A0B2E;
    color: white;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}
.stats h2 {
    color: #00FF88;
    font-size: 48px;
    font-weight: 700;
}


#card-text{
    grid-area: text;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}
#audio{
    grid-area: audio;
    padding: 40px;
    border-radius: 20px;
    background-color: #3511656d;
    padding-top: 120px;
    
}
#mobile{
    grid-area: mobile;
    padding: 40px;
    border-radius: 20px;
    background-color: #3511656d;
}
#global{
    grid-area: global;
    padding: 40px;
    border-radius: 20px;
    background-color: #3511656d;
}
#exclusive{
    grid-area: exclusive;
    padding: 40px;
    border-radius: 20px;
    background-color: #3511656d;
}
#rich{
    grid-area: rich;
    padding: 40px;
    border-radius: 20px;
    background-color:#3511656d;
}

.card-container{
    display: grid;
    gap: 20px;
    /* margin: 40px 200px; */
    background-color: #230E3D;
    padding: 40px 200px;
    color: white;
    grid-template-areas: 
             "text text text"
             "audio mobile mobile"
             "audio global global"
             "exclusive exclusive rich"

}
.card-container p{
    text-align: left;
    padding-top: 16px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.555);
}
.card-container h5 {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    padding-top: 16px;
}



#Future-contain{
   display: flex;
    width: 1600px;
    height: 1276px;
    max-width: 100%;
    background-color: #1A0B2E;
    color: white;
    justify-content: center;
    gap: 40px;
    padding: 40px 200px;

}
.card{
    width: 400px; 
     height: 440px; 
    border-radius: 25px;
    background-color: #250D44; 

}
.card h2{
    font-size: 24px;
    font-weight: bold;
    line-height: auto;
    margin-top: 1px;
    padding: 12px 24px;
}
.card p{
    color: rgba(255, 255, 255, 0.564);
    margin-top: 1px;
    padding: 12px 24px;
}
.play-btn{
     
  position: absolute;
    top: 50%;    
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 65px;
    height: 65px;
    
    
}
.image-btn{
    position: relative; 
    width: 100%;
}
.play-btn:hover {
    /* transform: translate(-50%, -50%) scale(1.1); */
}